*{
  box-sizing: border-box;
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
	font-weight: 400;
}

#main{
  margin: auto;
}

#main-introduccion{
  padding: 5rem 1rem 5rem;
  background-color: url(./Image/pattern.svg);
	display: flex;
	flex-direction: column;
	align-items: center;
}

#main-introduccion-title{
  padding-top: 50px;
	font-weight: 700;
	font-size: 2.5rem;
	text-align: center;
	letter-spacing: 3px;
	max-width: 14rem;
	line-height: 50px;
}

#main-introduccion-subtitle{
	padding-top: 60px;
	font-weight: 500;
	font-size: 1.5rem;
	text-align: center;
	letter-spacing: 1px;
}

#main-introduccion-group-button{
	padding-top: 60px;
	display: flex;
	justify-content: center;
}

.main-introduccion-button{
	margin: 10px;
	height: 50px;
	min-width: 100px;
}

#button-proyects{
	cursor: pointer;
}

#button-github{
	cursor: pointer;
}

#button-linkedin{
	cursor: pointer;
}

#main-about-me{
	background-color: brown;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 3rem 1rem 5rem;
}

#main-about-me-title{
	padding-top: 1rem;
	font-weight: 600;
	font-size: 2.2rem;
	letter-spacing: 3px;
}

#main-about-me-subtitle{
	padding-top: 1rem;
	letter-spacing: 1px;
}

#main-technologies{
	padding-top: 2rem;
}

#main-technologies-title{
	font-weight: 500;
	font-size: 1.8rem;
	text-align: center;
	letter-spacing: 3px;
}

#main-technologies-list{
	padding-top: 1rem;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

.main-technologies-list-item{
	background-color: yellow;
	border: 1px solid black;
	margin: 1rem;
	padding: 1rem;
	text-align: center;
	border-radius: 5px;
	letter-spacing: 1px;
}

#main-proyect{
	background-color: cadetblue;
	padding: 3rem 0 3rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#main-proyect-title{
	padding-top: 1rem;
	font-weight: 600;
	font-size: 2.2rem;
	letter-spacing: 3px;
}

#main-proyect-list{
	padding-top: 1.5rem;
	width: 90%;
}

.main-proyect-list-item{
	border: 1px solid black;
	margin-top: 1rem;
	padding: 1rem;
	display: flex;
	flex-direction: column;
}

.main-proyect-list-item-title{
	text-align: center;
}

.main-proyect-list-item-subtitle{
	text-align: center;
	padding-top: 1rem;
}

.main-proyect-list-item-group-button{
	padding-top: 1rem;
	display: flex;
	justify-content: space-around;	
}

.main-proyect-list-item-button{
	cursor: pointer;
	padding: 1rem;
	width: 150px;
}

#main-proyect-subtitle{
	font-weight: 500;
	font-size: 1.8rem;
	text-align: center;
	letter-spacing: 3px;
	padding-top: 2rem;
}

#main-proyect-subtitle-list{
	padding-top: 1.5rem;
}

#main-proyect-subtitle-list-item{
	border: 1px solid black;
	margin-top: 1rem;
	padding: 1rem;
}

#main-proyect-subtitle-list-item-title{
	text-align: center;
}

#main-proyect-subtitle-list-item-subtitle{
	text-align: center;
	padding-top: 1rem;
}

#main-proyect-subtitle-list-item-botton{
	cursor: pointer;
	margin: 1rem;
	padding: 1rem;
}


