*{
  margin: 0;
  box-sizing: border-box
}

.navbar{
  height: 70px;
  background-color: #fff;
  display: flex;
  padding: 20px;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
}

#navbar-info{
  display: flex;
  align-items: center;
}

#navbar-info-logo{
  height: 45px;
  border-radius: 25%;
  cursor: pointer;
}

#navbar-info-title{
  margin-left: 10px;
}

#icon-ham{
  height: 30px;
  cursor: pointer;
}

